* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.hero {
     background-color: #1F2937;
     padding-bottom: 64px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.header li a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    gap: 16px;
}

.content h1 {
    font-size: 48px;
    color: #f9faf8;
}

.content p {
    font-size: 18px;
    color: #e5e7eb;
}

.content button {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-style: none;
    padding: 8px 32px;
    border-radius: 10px;
}

.content button:hover {
    background-color: rgb(58, 58, 109);
}

.hero-content .placeholder {
   background-color: gray;
   padding: 100px;
   color: #e5e7eb;
   margin-right: 120px;
}

.body .info {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 16px;
    padding-top: 42px;
    padding-bottom: 180px;
}

.body .info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 32px;
}

.body ul {
    list-style: none;
}

.body .subtext {
    display: flex;
    gap: 40px;
    padding-bottom: 64px;
}

.body .placeholder {
    display: flex;
    gap: 40px;
}

.body .placeholder li {
    width: 140px;
    height: 140px;
    border: #3882f6 3px solid;
    border-radius: 20px;
}

.body li {
    white-space: pre-line;
}




